@import "./base/setup.scss";

/* ********* INCLUDE BASE ******************* */

/* -------------- Header -------------------- */

@import "./layout/l-header.scss";

/* -------------- Footer -------------------- */

@import "./layout/l-footer.scss";

/* -------------- Other --------------------- */


/* ********* INCLUDE LAYOUT ***************** */

.container{
  max-width: 1060px;
}

span.container{
  display: block;
}

div, section, footer{
  position: relative;
  z-index: 5;
}

/* ********* INCLUDE MODULES **************** */



/* ********* INCLUDE SECTIONS *************** */

@import "./section/home.scss";
@import "./section/about.scss";
@import "./section/contact.scss";

@import "./section/error404.scss";