/* ****************** BUTTON **************** */
// Included in ./base/_commons

.button{
  background: #67241c;
  border: none;
  @include border-radius(0);
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 19px;
  letter-spacing: .06em;
  margin: 0;
  padding: 15px 2%;
  text-align: center;
  text-transform: uppercase;
  width: 98%;

  &:hover, &:focus, &:active{
    background: lighten(#67241c, 5);
  }

  &:visited, &:visited:focus, &:visited:active, &:visited:hover{
    color: white;
    text-decoration: none;
  }
}