/* ****************** BUTTON **************** */
// Included in ./base/_commons

.buttonStyle{
  color: $white;
  display: inline-block;
  font-size: 26px;
  line-height: 1em;
  margin-bottom: 15px;
  min-height: 55px;
  min-width: 250px;
  padding: 13px 13px 8px 13px;
  position: relative;
  text-align: center;

  &:hover, &:focus, &:active{
    color: $white;
    text-decoration: none;
  }

  &:after{
    content: " >";
    display: inline-block;
    margin: 0 5px 0 15px;
  }
}

.aquaButton{
  @extend .buttonStyle;
  background: $aqua;

  &:hover, &:focus, &:active{
    background: lighten($aqua, 10);
  }

}

.blueButton{
  @extend .buttonStyle;
  background: $blue;

  &:hover, &:focus, &:active{
    background: lighten($blue, 10);
  }
}