/* ****************** IMAGE ***************** */
// Included in ./base/_commons

.img{
  background: url('../img/sprite-general.png') 0 0 no-repeat;
  display: block;
  height: 1px;
  line-height: 5000em;
  max-width: 100%;
  overflow: hidden;
  width: 1px;

  p, h2, h3{
    line-height: 5000em;
    max-height: 100%;
    overflow: hidden;
  }
}
