/* ****************** BUTTON **************** */
// Included in ./base/_commons

.social{
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;

  li{
    display: inline-block;
    height: 21px;
    margin: 0 10px 0 0;
    width: 20px;

    a{
      display: block;
      height: 100%;
      overflow: hidden;
      width: 100%;
    }

    &:last-child{
      margin-right: 0;
    }
  }
  [class^="icon-"], [class*=" icon-"] {
    color: #4d6fa9; //default facebook color
    position: relative;

    &:before{
      font-size: 20px;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 5;
    }

    &:after{
      @extend .isDecoration;
      background: $white;
      @include border-radius(3px)
      height: 17px;
      left: 3px;
      top: 1px;
      width: 16px;
      z-index: 1;
    }

    &:hover, &:focus, &:active{
      color: adjust-saturation(#4d6fa9, 10);
    }
  }
}