/* ****************** TITLE ***************** */
// Included in ./base/_commons
h1, h2, h3, h4{
  @extend %chivo;
  line-height: 1em;
}

  a, a:link{
    color: black;
    font-weight: normal;

    &:hover{
      color: lighten(black,20);
    }
  }

h2{
  font-size: 102px;
  text-transform: uppercase;
}