/* ****************** TITLE ***************** */
// Included in ./base/_commons

h2.decorTitle, h3.decorTitle{
  border-left: 15px solid $green-darker;
  margin: 0 0 15px;
  padding: 0 0 0 15px;
  position: relative;
}

h2.decorTitle.grey, h3.decorTitle.grey{
  color: $gray;
  text-transform: none;
}

h2.decorTitle.green, h3.decorTitle.green{
  border-left-color: $yellow;
  color: $green;
}

h2.normalCase, h3.normalCase{
  text-transform: none;
}