/* ****************** COMMONS *************** */
// Included in ./base/_setup

/* -------------- Title --------------------- */

@import "./base/c-title.scss";

/* -------------- Button -------------------- */

@import "./base/c-button.scss";

/* -------------- List ---------------------- */

@import "./base/c-list.scss";

/* -------------- Social --------------------- */

@import "./base/c-social.scss";

/* -------------- Other --------------------- */

.heightControl{
  height: 100%;
  display: inline-block;
  margin-right: -1px;
  vertical-align: middle;
  width: 1px;
}

.heightControl + div, .heightControl + .isVerticallyAligned{
  display: inline-block;
  vertical-align: middle;
}

.error{
  color: #8e0016;
  font-size: 12px;
}