/* ****************** FONTFACE ************** */
// Included in ./base/_setup

@font-face{
  font-family: 'chivo';
  src: url('chivo.eot');
  src: url('chivo.eot?#iefix') format('embedded-opentype'), url('chivo.woff') format('woff'), url('chivo.ttf') format('truetype'), url('chivo.svg#chivo') format('svg');
  font-weight: normal;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

@font-face{
  font-family: 'chivo-black';
  src: url('chivo-black.eot');
  src: url('chivo-black.eot?#iefix') format('embedded-opentype'), url('chivo-black.woff') format('woff'), url('chivo-black.ttf') format('truetype'), url('chivo-black.svg#chivo-black') format('svg');
  font-weight: normal;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}


%chivo{
  font-family: 'chivo', Verdana, sans-serif;
  font-weight: normal;
}

%chivoblack{
  font-family: 'chivo-black', Arial, sans-serif;
  font-weight: normal;
}