/* ***************** MIXINS ***************** */
// Included in ./base/_setup

body, html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background: #fcfcfc url(../img/dirt-pattern.jpg) repeat;
  color: $gray;
  @extend %chivo;
  font-size: 15px;

  @include larger-screen{
    font-size: 13px;
  }
}

em{
  font-style: normal;
}