/* ****************** ICONS ***************** */
// Included in ./base/_setup


// Sprite and icons extendable classes

.hasIcon{
  position: relative;
}

.isGraphic{
  display: block;
  line-height: 5000em;
  overflow: hidden;
}

.isDecoration{
  @extend .isGraphic;
  content: " ";
  line-height: 1em;
  position: absolute;
}

/* -------- Graphics ------------------- */
/*
.logo{
  @extend .isGraphic;
  background: sprite($general-icons, logo);
  @include sprite-dimensions($general-icons, logo);
  @include sprite-at2x($general-icons, $general2x-icons);
}

*/

.img{
  @extend .isGraphic;
  margin: 0 auto;
  max-width: 100%;
}