/* ***************** VARIABLES ************** */
// Included in ./base/_setup

$aqua           : #3f7f94;
$black          : #292828;
$blue           : #22afe0;
$gray           : #7c858c;
$light-gray     : #f1f1f1;
$red            : #964242;
$white          : #fdfdfd;

$mobile-xs-width: 420px;
$mobile-width   : 500px;
$tablet-width   : 650px;
$desktop-width  : 1024px;