/* ***************** VARIABLES ************** */
// Included in ./base/_setup

$black          : #292828;
$brown          : #594009;
$gold           : #ce892d;
$gray           : #444444;
$gray-lighter   : #dedede;
$gray-lightest  : #f4f4f4;
$gray-darkest   : #3b3b3b;
$green          : #2e6a4a;
$green-darker   : #224f37;
$red            : #a1141c;
$red-lighter    : #9e3a3c;
$yellow         : #fff300;
$yellow-darker  : #cfbb2c;
$white          : #ffffff;

$mobile-xs-width: 420px;
$mobile-width   : 500px;
$tablet-width   : 768px;
$desktop-width  : 1024px;