/* ************** ABOUT US ************** */

#banner.nosotros{
  background-image: url('../img/banner/about-us_xs.jpg');
  margin-bottom: 0;

  @include large-screen{
    background-image: url( "../img/banner/about-us.jpg" );
    background-size: auto;
  }
}

#formandoCampeones{
  .col-xs-12{
    padding-top: 25px;

    &:first-child{
      min-height: 275px;
      overflow: hidden;
      position: relative;

      &:after{
        background: url('../img/sprite-general.png') 0 -821px no-repeat;
        content: "";
        display: block;
        height: 292px;
        position: absolute;
        right: 0;
        top: 0  ;
        width: 163px;
      }

      .img{
        position: relative;
        z-index: 5;
      }
    }
  }
  p.big{
    margin: 35px 0 15px;
  }
}


#aniversario{
  background-position: -25px -363px;
  height: 222px;
  margin: 0 auto 20px;
  width: 201px;
}

#mision-vision{
  border-top: 15px solid #8d0016;

  p{
    margin: 0 0 10px 30px;
  }

  .col-xs-12{
    padding-top: 70px;

    &:last-child{
      min-height: 292px;

      h2, p{
        position: relative;
        z-index: 5;
      }

      &:before{
        background: url('../img/sprite-general.png') -165px -821px no-repeat;
        content: " ";
        display: block;
        height: 292px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
      }
    }
  }
}

#objetivos, #compromisos{
  h2{
    margin-bottom: 25px;
  }
}


#objetivos{
  background: white;
  padding: 60px 0 50px;

  p{
    margin-top: 0;
  }
}

#korea{
  background-position: -19px -621px;
  height: 161px;
  margin: 35px auto 15px;
  width: 208px;
}

#compromisos{
  padding: 60px 0;

  .decor_title{
    margin-bottom: 25px;
  }

  .bulletList{
    line-height: 1.5em;
    margin: 0 0 35px;

    li{
      margin: 0 0 17px;
    }
  }
  .bullet_list.continues{
    margin-bottom: 0;
  }
}
