/* ****************** CONTACT ************** */

#banner.contacto{
  background-image: url('../img/banner/contact_xs.jpg');
  margin-bottom: 40px;

  @include large-screen{
    background-image: url( "../img/banner/contact.jpg" );
    background-size: auto;
  }
}

#contactForm, #contactArea{
  background: transparent;
  border: none;
  @include border-radius(0);
  @include box-shadow(none);

  .panel-heading, .panel-title{
    border: none;
  }

  h2, .panel-heading{
    background: #224f37;
    color: #fff;
    font-size: 29px;
    margin: 0 0 50px;
    padding: 40px 0;
    text-transform: uppercase;
  }

  .panel-heading{
    h4{
      font-size: 29px;
    }
  }
}

#contactArea{
  margin: 0 0 -90px;

  &.active{
    display: block;

    .panel-body{
      display: block;
    }
  }

  .panel-body{
    display: none;
  }

  .panel-heading{
    margin: 0;
    @include transition(.4s);

    &:hover, &:active, &:focus{
      background: #224f37;
      cursor: pointer;
      @include transition(.4s);
    }
  }

  .panel-heading.panel-collapsed{
    background: #224f37;

    &:hover, &:active, &:focus{
      background: darken(#224f37, 5);
    }
    span{
      &:before{
        background-position: -156px -98px;
      }
    }
  }

  .icon-mdk-arrow-down, .icon-mdk-arrow-up{
    font-size: 1em;

    &:before{
      bottom: -6px;
      color: $yellow;
      font-size: 1.6em;
      line-height: 1em;
      position: relative;
    }
  }
}

#contactInfo{
  @extend .unstyledList;
  border-left: 7px solid #e2e2e2;
  font-size: 20px;
  margin: 25px 0 40px;
  max-width: 360px;
  padding: 20px 0 20px 25px;

  li{
    margin: 0 0 3px;
  }

  em{
    display: block;
    font-style: normal;
    font-weight: bold;
  }

  a{
    color: $gray;
    display: block;
    padding: 0 0 0 30px;
    position: relative;

    &:hover, &:focus, &:active{
      color: $gray;
      text-decoration: none;

      .icon-mdk-phone, .icon-mdk-location{
        &:before{
          color: $green;
        }
      }
    }
  }
  .icon-mdk-phone, .icon-mdk-location{
    left: 0;
    position: absolute;
    top: 0;
  }
}

.tel.first{
  margin-top: 20px;
}

.locationLink{
  font-size: 17px;
}

label{
  color: #8e0016;
  display: block;
  @extend %raleway-semibold;
  font-size: 18px;
  margin: 0 0 10px;
  text-transform: uppercase;
}

input, textarea{
  border: none;
  letter-spacing: 0.03em;
  margin: 0 0 15px;
  padding: 8px 15px;
  width: 100%;
}

textarea{
  height: 140px;
}

#custom_submit{
  display: block;
  margin: 0 0 25px auto;
}

#error-msg{
  text-align: right;
}

.note{
  font: 11px Arial, sans-serif;
  text-transform: uppercase;
}

.superscript{
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: 1em;
  vertical-align: top;
}

#goToContact{
  background: #a1151c;
  bottom: 0;
  color: white;
  opacity: 1;
  overflow: hidden;
  padding: 8px 37px 10px 18px;
  position: fixed;
  right: 0;
  text-align: center;
  @include transition(.4s);
  z-index: 10;

  span{
    display: inline-block;
    vertical-align: middle;
  }

  .icon-mdk-phone{
    &:before{
      background-color: $white;
      border: 2px solid $white;
      @include border-radius(50px);
      font-size: 22px;
      letter-spacing: 0;
      line-height: 1em;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  &:hover,&:focus,&:active{
    background: #fff300;
    color: #a1151c;
    text-decoration: none;
  }
}

#goToContact.hidden{
  opacity: 0;
}

#contact_form .has-feedback .form-control-feedback{
  line-height: 45px;
}
