
/* ************ ERROR404 ***************** */

#error404{
  font-size: 20px;
  line-height: 1.4em;
  margin-bottom: -90px;
  min-height: 350px;

  h1{
    font-size: 40px;
    margin-top: 100px;
  }

  a{
    color: $green;
    font-weight: bold;

    &:hover,&:focus, &:active{
      color: lighten($green, 20);
      text-decoration: none;
    }
  }
}

#image404{
  @include large-screen{
    background: url( "../img/sad-image.png" ) center bottom no-repeat;
    background-size: contain;
    display: block;
    height: 600px;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }
}
