
/* ************ HOME ***************** */

#taekwondo{
  .button{
    margin: 15px 0 10px;
  }
}

#beneficios-home{
  background: #fff;
  padding: 60px 0;

  h2{
    color: #9e3a3c;
    font-size: 29px;
    text-transform: uppercase;
  }

  h3{
    border-left: 18px solid #fff300;
    color: #2e6a4a;
    font-size: 32px;
    padding: 3px 0 3px 15px;
  }

  .holder{
    padding: 0 0 0 35px;
  }
}

#nosotros{
  padding: 50px 0;

  h2{
    color: #444444;
    margin: 0 0 30px;
  }


  .aig_logo{
    margin-top: 50px;
  }
}

#aig_phrase{
  border-left: 3px solid #1aa3dd;
  color: #373736;
  display: inline-block;
  font: 21px Arial, sans-serif;
  max-width: 240px;
  margin: 50px 0 40px 15px;
  padding: 0 0 0 15px;
  vertical-align: top;
}

.banner-image{
  display: block;
  height: 353px;
  margin: 0 auto;
  max-width: 100%;
  width: 1029px;
}

#img-test{
  @extend .banner-image;
  background: url('../img/banner/h_examen.jpg') center no-repeat;
  background-size: cover;
}

#img-family{
  @extend .banner-image;
  background: url('../img/banner/h_familiar.jpg') center no-repeat;
  background-size: cover;
}

#img-poomsae{
  @extend .banner-image;
  background: url('../img/banner/h_formas.jpg') center no-repeat;
  background-size: cover;
}


#kidsListening{
  background-position: -247px 0;
  height: 310px;
  width: 450px;
}

#dojang{
  background-position: -299px -338px;
  height: 590px;
  width: 450px;
}

#aigPhrase{
  margin: 50px 0 40px;
  position: relative;

  &:before{
    @extend .isDecoration;
    background: url('../img/sprite-general.png') -141px -188px no-repeat;
    display: inline-block;
    height: 50px;
    position: static;
    vertical-align: middle;
    width: 96px;
  }

  span{
    border-left: 3px solid #1aa3dd;
    display: inline-block;
    font: 21px Arial,sans-serif;
    margin-left: 15px;
    padding: 0 0 0 15px;
    vertical-align: middle;
  }
}
