/* ****************** PORTFOLIO ************** */

/* -------- Generic carousel -------- */

.carousel-control{
  height: 100%;
  line-height: 5000em;
  opacity: 1;
  overflow: hidden;
  width: 85px;
  z-index: 20;

  @include desktop{
    width: 15%;
  }

  &:hover, &:active, &:focus{
    opacity: 1;

    &:before{ // Decoration - circle
      background: lighten($blue, 10);
      @include box-shadow(rgba(76, 80, 82, 0.3) 2px 3px 4px inset);
    }
  }

  .glyphicon{
    display: none;
  }

  &:before{ // Decoration - circle
    @extend .isDecoration;
    background: $blue;
    @include border-radius(70px);
    height: 60px;
    left: 50%;
    margin: 0 0 0 -30px;
    top: 35px;
    width: 60px;
    z-index: 1;

    @include desktop{
      height: 120px;
      margin: 0 0 0 -60px;
      top: 145px;
      width: 120px;
    }
  }

  &:after{
    @extend .isDecoration;
    content: "<";
    left: 50%;
    margin: 0 0 0 -20px;
    text-shadow: none;
    top: 55px;
    width: 40px;
    z-index: 5;

    @include desktop{
      font-size: 62px;
      top: 170px;
    }
  }

  &.left, &.right{
    background: transparent;
    text-align: center;


    &:after{
      @include desktop{
        font-size: 62px;
        top: 170px;
      }
    }
  }

  &.right{
    &:after{
      content: ">";
    }
  }
}

.carousel-indicators{
  bottom: auto;
  height: 15px;
  left: 0;
  margin: 0;
  padding: 0;
  top: 140px;
  width: 100%;
  z-index: 20;

  @include desktop{
    top: 465px;
  }

  li{
    background: lighten($blue, 8);
    border: none;
    @include box-shadow(0 0 3px rgba(76, 80, 82, 0.3) inset);
    height: 15px;
    margin: 0;
    width: 15px;
  }

  .active{
    background: $blue;
    height: 15px;
    width: 15px;
  }
}

/* -------- Portfolio text -------- */

#portfolio{
  h3, h4{
    color: $aqua;
    text-transform: lowercase;

    em{
      @extend %chivoblack;
      font-size: 88%;
    }
  }

  h3{
    font-size: 33px;
    margin-top: 20px;
  }

  h4{
    font-size: 27px;
    margin: 0 0 10px;
  }

  .col-sm-5{
    h4{
      font-size: 22px;
      margin: 38px 0 10px;
    }
  }

  p{
    line-height: 1.6em;
  }
}

#portfolioSlider{
  .text-right{
    @media (max-width: 767px){
      margin-top: 30px;
      text-align: left;
    }
  }

  .blueButton{
    font-size: 20px;
    margin: 38px 0 15px;
    min-height: 45px;
    min-width: 205px;
  }
}

.visitWeb{
  background: $blue;
  bottom: 0;
  color: $white;
  display: inline-block;
  font-size: 12px;
  line-height: 1em;
  padding: 3px 5px;
  position: absolute;
  right: 90px;
  text-transform: lowercase;

  @include desktop{
    bottom: 68px;
    font-size: 30px;
    padding: 6px 10px;
    right: 202px;
  }
}

.tagListStyle{
  @include border-radius(5px);
  color: white;
  display: inline-block;
  font: 15px Verdana, sans-serif;
  font-weight: bold;
  margin: 0 10px 10px 0;
  padding: 5px 10px;

  &:last-child{
    margin-right: 0;
  }

}

.contributionList{
  @extend .unstyledList;

  li{
    @extend .tagListStyle;
    border: 3px solid $blue;
    color: $blue;
  }
}

.tagListStyle + p, .contributionList + p{
  text-indent: 0;
}

.skillsList{
  @extend .unstyledList;

  li{
    @extend .tagListStyle;
    border: 3px solid $aqua;
    color: $aqua;
  }
}

.credit{
  font-size: 11px;
  margin: 20px 0 15px;
  text-indent: 0;

  a{
    color: $gray;
    @extend %chivoblack;
    font-size: 88%;

    &:hover, &:focus, &:active{
      color: $blue;
      text-decoration: none;
    }
  }
}


/* -------- Portfolio images -------- */

.portfolioImg{
  background: url("../img/portfolioxs.png") 0 -375px no-repeat;
  display: block;
  line-height: 5000em;
  margin: 0 auto 25px;
  opacity: 1;
  overflow: hidden;
  position: relative;

  @include desktop{
    background-image: url("../img/portfolio.png");
  }
}

.laptop, .devices{
  width: 270px;

  @include desktop{
    width: 980px;
  }
}

.laptop{
  background-position: 9px -375px;
  height: 131px;

  @include desktop{
    height: 477px;
  }
}

.devices{
  background-position: 0 -250px;
  height: 125px;

  @include desktop{
    height: 477px;
  }

  .visitWeb{
    @include desktop{
      bottom: 68px;
      right: 226px;
    }
  }
}

#cr-img{
  @include desktop{
    background-position: 1px -1350px;
    height: 458px;
  }
}

#evo-img{
  @include desktop{
    background-position: 0 -900px;
    height: 445px;
  }
}

#mdk-img{
  background-position: 0 -123px;

  @include desktop{
    background-position: 1px -450px;
    height: 450px;
  }
}

#sociable-img{
  background-position: 9px -507px;

  @include desktop{
    background-position: 0 -1825px;
  }
}
#adell-img{
  background-position: 0 0;
  @include desktop{
    height: 450px;
  }
}