/* ****************** TAEKWONDO ************** */

#banner.taekwondo{
  background-image: url('../img/banner/taekwondo_xs.jpg');
  margin-bottom: 40px;

  @include large-screen{
    background-image: url( "../img/banner/taekwondo.jpg" );
    background-size: auto;
  }
}

.beltRanks{
  sup{
    font-weight: normal;
    text-transform: lowercase;
  }

  @include mobile{
    text-align: center;
  }
}

#accordion{
  margin: 20px 0 -90px;
}

#tkdIntro{
  .col-xs-12{
    padding-top: 40px;
  }
}

#beneficioPsicologico, #beneficioFisico{
  background-image: url('../img/sprite-taekwondo.png');
  height: 310px;
  margin: 0 0 50px;
  max-width: 490px;
  width: 100%;
}

#beneficioPsicologico{
  background-position: right -361px;

  @include mobile{
    display: none;
  }
}

#beneficioFisico{
  background-position: 0 -671px;
}

#cintas{
  background: white;
  overflow: hidden;

  .small{
    font-size: 12px;
  }

  h3{
    color: #2e6a4a;
    text-transform: none;

    @include mobile{
      padding: 0 50px;
      text-align: center;
    }
  }
}

#ranksCarousel{
  position: relative;
  z-index: 1;

  .row{
    min-height: 410px;
    position: relative;

    @include mobile{
      min-height: 670px
    }

    @include mobile-sm{
      min-height: 600px;
    }
  }

  .col-xs-12{
    z-index: 5;
  }

  .carousel-control.left, .carousel-control.right{
    background: transparent;
  }

  .carousel-control{
    z-index: 9;

    &:before{
      color: black;
      content: "<";
      font: 65px Georgia, Cambria, serif;
      left: 50%;
      line-height: 1em;
      margin: 0 0 0 -15px;
      position: absolute;
      top: 70px;
      width: 40px;

      @include mobile{
        top: 0;
      }
    }

    span{
      display: none;
    }
  }

  .right.carousel-control{
    &:before{
      content: ">";
    }
  }

  .carousel-indicators{
    bottom: 13px;
    .active{
      background: $green;
      border: none;
    }

    li{
      background: $red-lighter;
      border: none;
      height: 13px;
      margin: 0 7px 0 0;
      width: 13px;

      &:hover, &:focus, &:active{
        background: $green;
      }
      &:last-child{
        margin: 0;
      }
    }
  }
}


.rankSeparator{
  background: url('../img/sprite-taekwondo.png') -208px 0 no-repeat;
  bottom: 0;
  height: 361px;
  left: 50%;
  margin: 0 0 0 -14px;
  position: absolute;
  width: 15px;
  z-index: 1;

  @include mobile{
    display: none;
  }
}

.belt{
  @extend .img;
  background: url('../img/belt/white.png') right bottom no-repeat;
  background-size: 100% auto;
  bottom: -10px;
  height: 361px;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 50%;
  z-index: 1;

  @media (min-width: 1525px){
    background-size: auto 100%;
    height: 390px;
    left: 50%;
    margin: 0 0 0 -762px;
    max-width: 762px;
    overflow: hidden;
    right: 70px;
  }

  @include mobile{
    height: 411px;
    width: 100%;
  }
}

#yellow{
  background-image: url('../img/belt/yellow.png');
}

#green{
  background-image: url('../img/belt/green.png');
}

#blue{
  background-image: url('../img/belt/blue.png');
}

#brown{
  background-image: url('../img/belt/brown.png');
}

#red{
  background-image: url('../img/belt/red.png');
}

#black{
  background-image: url('../img/belt/black.png');
}

.beltRanks{
  list-style-type: none;
  margin: 20px 0 15px;
  padding: 0;

  li{
    display: inline-block;
    @extend %raleway-semibold;
    font-size: 9px;
    letter-spacing: -0.02em;
    margin: 0 0 10px 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;

    &:before{
      background: url('../img/sprite-taekwondo.png') 0 -981px no-repeat;
      border: 2px solid #ded9d9;
      content: " ";
      display: block;
      height: 62px;
      margin: 0 auto 10px;
      width: 62px;
    }

    &:first-child{
      margin-left: 0;
    }
    &:after{
      mix-blend-mode: multiply;
    }
  }

  .number{
    font-size: 14px;
  }

  sup{
    @extend %raleway-semibold;
    font-weight: normal;
    text-transform: lowercase;
    top: 2px;
  }
}

#kup10, #kup8, #kup6, #kup4, #kup2, #iebi{
  &:after{
    content: " ";
    display: block;
    height: 58px;
    left: 50%;
    margin: 0 0 0 9px;
    position: absolute;
    top: 2px;
    width: 20px;
  }
}

#kup9, #kup8{
  &:before{
    background-position: -62px -981px;
  }
}

#kup8{
  &:after{
    mix-blend-mode: hard-light;
  }
}

#kup7, #kup6{
  &:before{
    background-position: -124px -981px;
  }
}

#kup7{
  &:after{
    mix-blend-mode: hard-light;
  }
}

#kup5, #kup4{
  &:before{
    background-position: -186px -981px;
  }
}

#kup4{
  &:after{
    mix-blend-mode: hue;
  }
}

#kup3, #kup2{
  &:before{
    background-position: -248px -981px;
  }
}

#kup2{
  &:after{
    mix-blend-mode: hard-light;
  }
}

#kup1, #iebi{
  &:before{
    background-position: -310px -981px;
  }
}

#dan1, #dan2, #dan3, #dan4, #dan5, #dan6, #dan7, #dan8, #dan9{
  &:before{
    background-position: -372px -981px;
  }
}

#kup10{
  &:after{
    background: rgba(233,188,6,.9);
  }
}

#kup8{
  &:after{
    background: rgba(17,126,72,.9);
  }
}

#kup6{
  &:after{
    background: rgba(0,84,178,.9);
    mix-blend-mode: hard-light;
  }
}

#kup4{
  &:after{
    background: rgba(100,45,0,.9);
  }
}

#kup2{
  &:after{
    background: rgba(186,27, 26,.9);
  }
}

#iebi{
  line-height: 1em;

  &:after{
    background: rgba(11,11, 11,.9);
  }
}

#dan1{
  margin-left: 15px;
}

#dan9{
  @media (max-width: 437px){
    color: white;
  }
}
#dan7, #dan8, #dan9{
  @media (max-width: 384px){
    color: $white;
    text-shadow: 1px 0 2px $black;
  }
}

.goldRank{
  display: block;
  height: 60px;
  left: 50%;
  margin: 0 0 0 -31px;
  position: absolute;
  text-align: right;
  top: 2px;
  width: 62px;
  z-index: 1;

  .stripe{
    background: rgba(154, 125, 0, .9);
    display: inline-block;
    height: 58px;
    margin: 0 0 0 3px;
    mix-blend-mode: multiply;
    width: 3px;
  }
}

#historiaIntro{
  background: #0b803c;
  color: white;
  padding: 60px 0;

  h2{
    font-size: 35px;
    margin-top: 0;
  }

  p{
    letter-spacing: 0.08em;
    line-height: 1.3em;
  }

  h2, p{
    color: white;
  }
}

#historyAccordion{
  color: $gray;
  margin: 0;

  .panel-heading:first-child{
    .panel-title{
      border: none;
    }
  }
  .panel + .panel{
    margin-top: 0;
  }

  .panel-title{
    background: url('../img/accordion-background.png') center top no-repeat;
    border-top: 1px solid #e0dfdf;
    padding: 0 15px;

    a{
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 1060px;
      padding: 20px 15px 20px 45px;
      position: relative;

      @media (max-width: 1199px) {
        max-width: 970px;
      }
      @media (max-width: 991px) {
        max-width: 750px;
      }

      &:hover, &:focus, &:active{
        text-decoration: none;
      }

      &:before{
        background: #ffc909;
        @include border-radius(50px);
        color: white;
        content: "-";
        display: block;
        height: 20px;
        left: 12px;
        letter-spacing: 0;
        line-height: .7em;
        position: absolute;
        text-align: center;
        top: 23px;
        width: 20px;
      }
      &.collapsed{
        &:before{
          content: "+";
          line-height: 0.85em;
        }
      }
    }

    h3, h4{
      position: relative;
    }
  }
}
.panel-default > .panel-heading + .panel-collapse .panel-body{
  border: none;
}

.panel-default > .panel-heading{
  background: transparent;
  padding: 0;
}

.panel-title > a{
  color: $green;
  @extend %raleway-semibold;
  font-size: 24px;

  &:hover, &:focus, &:active{
    color: lighten($green, 10);
    text-decoration: none;
  }
}