/* ******** #m-carouselBanner ************** */

#m-carouselBanner{
  text-align: center;

  .holder{
    display: inline-block;
    position: relative;
    text-align: left;
    max-width: 94%;

    &:before, &:after{
      @extend .isDecoration;
      background: url('../img/sprite-general.png') 0 -128px no-repeat;
      bottom: 0;
      display: block;
      height: 210px;
      left: -73px;
      width: 73px;
    }

    &:after{
      background-position: -75px -128px;
      left: auto;
      right: -30px;
      width: 30px;
    }
  }

  .carousel-inner{
    z-index: 3;
  }

  img{
    max-width: 100%;
  }

  .carousel-indicators{
    bottom: 20px;

    li, li.active{
      margin-right: 6px;

      &:last-child{
        margin-right: 0;
      }
    }
  }

  &:after{
    @extend .isDecoration;
    background: #224f37;
    height: 85%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}