/* ********** .m-decorationRedLine ********** */

.m-decorationRedLine{
  display: block;
  height: 12px;
  margin: 20px auto 25px;
  max-width: 1030px;
  padding: 0 95px 0 0;
  position: relative;
  width: 94%;

  &:before{
    @extend .isStaticDecoration;
    background: $red-lighter;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  &:after{
    @extend .isDecoration;
    background: $yellow-darker;
    height: 100%;
    right: 0;
    top: 0;
    width: 88px;
  }
}