/* ******** #m-specialOffer ************** */

#m-specialOffer{
  background: lighten($green-darker, 5);
  @include border-radius(2px);
  color: $white;
  padding: 10px 10px 10px 50px;
  position: relative;

  .icon-mdk-exclamation{
    left: 15px;
    position: absolute;
    top: 14px;

    &:before{
      color: #cfbb2c;
      font-size: 25px;
      position: relative;
      z-index: 5;
    }

    &:after{
      @extend .isDecoration;
      background: white;
      @include border-radius(50px);
      height: 20px;
      left: 2px;
      top: 0;
      width: 20px;
      z-index: 1;
    }
  }
}