/* **************** l-banner ************** */

#banner{
  background-color: #979467;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  font-size: 30px;
  color: #f6f6f3;
  height: 139px;
  padding: 0;

  @include large-screen{
    height: 244px;
  }

  .container{
    height: 100%;
  }

  h1, h2{
    color: #f3f2e9;
    @extend %ptsans-bold;
    font-size: 18px;
    margin: 0;
    max-width: 295px;
    width: 90%;

    @include large-screen{
      font-size: 30px;
    }

    em{
      border-bottom: 4px solid #fff300;
      color: white;
      display: block;
      font-size: 20px;
      font-style: normal;
      text-transform: uppercase;

      @include large-screen{
        font-size: 35px;
      }
    }
  }
}
