/* ****************** HEADER **************** */

header{
  position: relative;
  z-index: 100;
}

.navbar-fixed-top{
  background: $gray-lightest url('../img/header-pattern.jpg') center top repeat-y;
  @extend %raleway;
  font-size: 15px;
  min-height: 70px;
  @include transition(.4s);

  @include large-screen{
    font-size: 18px;
  }
  .container{
    @include mobile{
      padding: 0;
    }
    .navbar-header{
      @include mobile{
        padding: 0;
      }
    }
  }
}

.navbar-nav{
  padding: 22px 0 0;
  @include transition(.4s);
  width: 100%;

  @include mobile{
    background: rgba(222,222,222, .4);
    padding: 0;
    margin: 0;
  }

  @include larger-screen{
    padding: 50px 0 10px;
  }


  li{
    text-align: left;

    @include mobile{
      display: block;
      width: 100%;
    }

    @include larger-screen{
      display: inline-block;
      width: 20%;
    }
  }
}

#nav-taekwondo{
  @include larger-screen{
    margin-right: 10%;
  }
}

#nav-nosotros{
  @include larger-screen{
    margin-left: 10%;
  }
}

.navbar-brand{
  //@extend .logo
  background: url('sprite-general.png') -125px 0 no-repeat;
  height: 100px;
  left: 15px;
  line-height: 5000em;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  @include transition(none);
  width: 63px;

  &:after{
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: white;
    content: "Inicio";
    display: inline-block;
    font-size: 12px;
    left: 50%;
    line-height: 1em;
    margin: 0 0 0 -40px;
    padding: 3px 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    z-index: 100;
  }

  &:hover, &:focus, &:active{
    opacity: .8;
  }

  @include mobile{
    &:after{
      display: none;
    }
  }

  @include large-screen{
    background-position: 0 0;
    height: 115px;
    left: 50%;
    width: 110px;
  }

}

header.smaller .navbar > .container, header.smaller .navbar > .container-fluid{
  .navbar-brand{
    @include mobile{
     margin: 5px 0 0;
    }
  }
}


.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
  margin: 5px 0 0;

  @include mobile{
   display: block;
   margin: 5px auto 0 30px;
   position: static;
  }

  @include larger-screen{
    margin-left: -55px;
  }

}

.navbar-brand, header.smaller .navbar > .container .navbar-brand, header.smaller .navbar > .container-fluid .navbar-brand{
  @include mobile{
    background-position: -124px 0;
    height: 75px;
    margin-left: 15px;
    @include transition(none);
    width: 64px;
  }
}

.nav > li#nav-inicio{
  display: none;

  @include mobile{
    display: block;
  }
}

.navbar-default .navbar-nav > li > a{
  color: $gray;
  padding: 0;
  text-transform: uppercase;

  &:hover, &:focus, &:active{
    color: $red-lighter;

    @include mobile{
      background: $red-lighter;
      color: white;
      padding: 10px 0;
    }
  }

  @include mobile{
    padding: 10px 0;
  }

  @include large-screen{
    text-align: center;
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
  background: transparent;
  color: $red-lighter;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}

.navbar-default .navbar-toggle{
  background: $white;
  margin-right: 30px;
  margin-top: 20px;
}

header.smaller{
  opacity: .8;

  @include mobile{
    opacity: 1;
  }

  .navbar-brand{
    background-position: -124px 0;
    height: 75px;
    @include transition(height .4s);
    width: 64px;
  }

  .navbar-nav{
    padding: 10px 0;
    @include transition(.4s);

    @include larger-screen{
      padding: 22px 0 10px;
    }
  }

  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    margin: 5px 0 0 -32px;

    @include mobile{
     margin-left: 15px;
    }
  }

  &:hover, &:active{
    opacity: 1;
  }
}
